#vlogs-container > section {
  /* margin-block: 3rem; */
  /* margin-top: 6rem; */
  text-align: center;
  padding-block: 1rem;
}

.vlogs-content {
  background-color: #f1f0f0;
}

.vlogs-container {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.vlogs-container > a {
  color: unset;
  text-decoration: none;
}

.vlogs-cart {
  width: 450px;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.vlogs-cart-image {
  background-color: gray;
  border-radius: 10px;
  flex: 1 450px;
}

.vlogs-cart-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.vlogs-cart-content {
  margin-block: 1rem;
  max-height: 180px;
  flex: 1 100px;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .vlogs-container {
    padding-inline: 0rem;
    padding: 0rem;
  }

  .vlogs-cart {
    margin-inline: 0;
    overflow: hidden;
    width: 100vw;
  }
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 10px;
}

button.tag-active {
  border-bottom: 3px solid black;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

button:hover,
button:focus {
  background-color: aliceblue;
}

button:active {
  background-color: #2e2b2b;
  color: white;
}

@media screen and (max-width: 500px) {
  #vlogs-container section {
    margin: 1rem 1rem;
  }
  #vlogs-container section p {
    width: auto;
  }
  #vlogs-container .video-container {
    height: auto;
  }

  #vlogs-container > section {
    margin-block: 0rem;
    padding-block: 0.5rem;
    text-align: center;
  }
}
